.foldscreen-2 {
	position: relative;
	padding: 10px;
	font-size: 15px;
	color:#354b60;

}
/*fondo de la seccion*/
.foldscreen-2 .background{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.foldscreen-2 .background img{
	height: 100%;
	width: 100%;
}
/*titulo de encabezado*/
.foldscreen-2 .content-fold2 .header2 h2 {
	text-align: center;
	margin-bottom: 10px;
}
.foldscreen-2 .content-fold2 .header2 p {
	text-align: center;
}
/*css de contennido*/
.foldscreen-2 .content-fold2 .content-images {


}
.foldscreen-2 .content-fold2 .content-images figure{
	display: none;
}
.foldscreen-2 .content-fold2 .content-images figure .imagen {

}
.foldscreen-2 .content-fold2 .content-images figure .imagen img{
	width: 80%;
	max-width: 300px;
	display: block;
	margin: 10px auto;
}
.foldscreen-2 .content-fold2 .content-images figure span{
	display: block;
	text-align: center;
}
.foldscreen-2 .content-fold2 .content-images figure.visible{
	display: block;
}
.foldscreen-2 .content-fold2 .content-images figure.visible span{
	font-weight: bold;
}
/*Button*/
.foldscreen-2 .button{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.foldscreen-2 .button a{
	font-size: 16px;
	color: black;
	border-radius: 25px;
}
.foldscreen-2 .button .learn{
	margin-bottom: 20px;
	padding: 8px 18px;
	border: 1.5px solid white;
	color: white;
}
.foldscreen-2 .button .learn:hover{
	background: #3096d4;
}
.foldscreen-2 .button .learn span{
	margin-right: 5px;
}
.foldscreen-2 .button .learn img{
	width: 12px;
	align-self: center;
}

.foldscreen-2 .information{
	display: none;
}
.foldscreen-2 .cont-img{
	position: absolute;
	left: -130px;
	bottom: -80px;
}
.foldscreen-2 .cont-img figure{
	width: 310px;
}
.foldscreen-2 .cont-img figure img{
	width: 100%;

}
@media screen and (min-width: 768px){
	.foldscreen-2 {
		padding-left: 50%;
	}

	.foldscreen-2 .content-fold2 .content-images figure{
		display: block;
	}
	.foldscreen-2 .content-fold2 .content-images figure .imagen{
		display: none;
	}
	.foldscreen-2 .content-fold2 .content-images figure.visible .imagen{
		display: block;
	}
}
