.foldscreen-2{
	position: relative;
}
.foldscreen-2 .background{
	position: relative;
	font-size: 0;
}
.foldscreen-2 .background img{
	width: 100%;
}
.foldscreen-2 .background .destock{
	display: none;
}

.foldscreen-2 .background .cap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.6));
}

.foldscreen-2 .content-fold2{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.foldscreen-2 .content-fold2 .description{
	width: 100%;
	color: black;
	text-align: center;
	padding: 30px 30px;
	box-sizing: border-box;
}
.foldscreen-2 .description h2{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, 0.8);
}
.foldscreen-2 .description p{
	font-size: 13px;
	font-weight: bold;
	line-height: 17px;
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 10px;
}
.foldscreen-2 .description span{
	font-size: 13px;
	font-weight: bold;
	line-height: 17px;
	color: rgba(0, 0, 0, 0.8);
}
.foldscreen-2 .description .circles{
	display: flex;
	justify-content: center;
	padding: 15px;
}
.foldscreen-2 .description .circles .circle{
	padding: 5px;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	margin-right: 2px;
}
.foldscreen-2 .description .circles .circle:hover{
	background: #3096d4;
}

.foldscreen-2 .description .photo{
	width: 85%;
	max-width: 400px;
}
.foldscreen-2 .description .button{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.foldscreen-2 .description .button a{
	font-size: 16px;
	color: black;
	border-radius: 25px;
}
.foldscreen-2 .description .button .learn{
	margin-bottom: 20px;
	padding: 8px 18px;
	border: 1.5px solid white;
	color: white;
}
.foldscreen-2 .description .button .learn:hover{
	background: #3096d4;
}
.foldscreen-2 .description .button .learn span{
	margin-right: 5px;
}
.foldscreen-2 .description .button .learn img{
	width: 12px;
	align-self: center;
}

.foldscreen-2 .description .information{
	display: none;
}

@media screen and (min-width: 1000px){
.foldscreen-2 .background .mobile-tablet{
	display: none;
}
.foldscreen-2 .background .destock{
	display: block;
}
.foldscreen-2 .description .information{
	display: block;
}
.foldscreen-2 .description .circles {
	display: none;
}
.content-fold2 .description {
	display: flex;
	flex-direction:row;
}



}