.foldscreen-4{
	background: #e4ebf3;
	width: 100%;
	/*height: 100%;	*/
}
.foldscreen-4 .title{
	padding-top: 35px;
	text-align: center;
}
.foldscreen-4 .title h1{
	font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.8);
}
.foldscreen-4 .title p{
	font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.6);
}

.foldscreen-4 .menu .contend-list {
	line-height: 30px;
}
.foldscreen-4 .menu .contend-list .sub-menu {
	text-align: center;
}
.foldscreen-4 .menu .contend-list .sub-menu > a {
	width: 100%;
	color: black;
	line-height: 40px;
	font-weight: bold;
	display: block;
	background: white;
	border-bottom: 1px solid #e4ebf3; 
}
.foldscreen-4 .menu .contend-list .sub-menu > a:hover {
	background: #e4ebf3;
	/*position: relative;*/
}


.foldscreen-4 .menu .contend-list .sub-menu .children li a {
	color: #2b3438;
}
.foldscreen-4 .menu .contend-list .sub-menu > a:hover + ul {
	height: auto;
}
.foldscreen-4 .menu .contend-list .sub-menu .children {
	height: 0;
	overflow: hidden;
	transition: 3s;
}
.foldscreen-4 .menu .contend-list .sub-menu .children li {
	display: flex;
	justify-content: center;
	
}
.foldscreen-4 .menu .contend-list .sub-menu > a:hover::before {
	content: "";
	width: 100px;
	height: 2px;
	display: block;
	background: red;
	position: absolute;
	bottom: 4px;
	left: calc(50% - 50px);
}
