.foldscreen-3{
	position:relative;
	padding-top: 40px;
	display: flex;
  flex-direction: column;
  align-items: center;
}
.foldscreen-3 .introduction {
    width: 100%;
    text-align: center;
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
}
.foldscreen-3 .introduction h1{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
}
.foldscreen-3 .introduction p{
	font-size: 13px;
	margin-bottom: 10px;
	line-height: 17px;
	color: rgba(0, 0, 0, 0.8);
}
.foldscreen-3 figure, .foldscreen-3 figure img {
  	width: 100%;
  	font-size: 0;
		height: 128px;
}
.foldscreen-3 .content {
	width: 90%;
  display: flex;
  overflow-x: auto;
	justify-content: space-between;
}
.foldscreen-3 .content .content_news {
	width: 200px;
  min-width: 200px;
  margin-right: 15px;
  border: 2px solid #bcc6cf;
	justify-content: space-around;
}
.foldscreen-3 .content .body_news h3{
	margin-top: 10px;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 13px;
}
.foldscreen-3 .content .body_news span{
	padding: 0 10px;
	font-size: 12px;
}
.foldscreen-3 .content .body_news .author::before {
  content: "by:";
  color: black;
	font-weight: bold;
}
.foldscreen-3 .content .body_news .conten{
	display: flex;
	padding: 0 6px;
	margin-bottom: 20px;
	margin-top: 8px;
}

.foldscreen-3 .content .body_news .conten .bloq_star{
	display: flex;
}
.foldscreen-3 .content .body_news .conten .bloq_star img {
  width: 12px;
  height: 12px;
  margin-left: 5px;
}
.foldscreen-3 .content .body_news .footer_news{
	display: flex;
	border-top: 2px solid #bcc6cf;
	padding-top: 10px;
	justify-content:space-around;
	background: #fafbfd;
}
.foldscreen-3 .content .body_news .footer_news  img{
	vertical-align: top;
}

.foldscreen-3 .content .body_news .footer_news .bloq_money2{
	font-weight: bold;
	color:#10c35b;
}
.foldscreen-3 .content .body_news .footer_news .bloq_money2 span{
	font-size: 15px;
}
.foldscreen-3 .button {
	margin-top: 10px;
	display: flex;
	flex-direction:row;
	justify-content: center;
}
.foldscreen-3 .button a{
	font-size: 16px;
	color: black;
	border-radius: 25px;
	background:#3096d4;
}
.foldscreen-3 .button .browse{
	margin: 30px 0;
	padding: 10px 15px;
	border: 1.5px solid white;
	color: white;
}
.foldscreen-3 .button  img {
    width: 12px;
    align-self: center;
}
@media screen and (min-width: 768px){
	.foldscreen-3{
		width: 100%;
		height: 100%;
		justify-content: center;
		padding-top: 20px;
	}
	.foldscreen-3 .introduction {
		padding: 0px;
	}
	.foldscreen-3 .button .browse {
		margin: 0px;
	}
}
@media screen and (min-width: 960px){

	.foldscreen-3 .introduction h1 {
    font-size: 22px;
	}
	.foldscreen-3 .introduction p {
    font-size: 16px;
	}
	.foldscreen-3 .button .browse {
		font-size: 20px;
		margin-top: 32px;
	}
	.foldscreen-3 .content {
		width: 95%;
	}
}
