.foldscreen-4{
	position: relative;
	background: url(../images/bg.jpg);
}
.foldscreen-4 .background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.foldscreen-4 .title{
	padding-top: 35px;
	text-align: center;
}
.foldscreen-4 .title h1{
	font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.8);
}
.foldscreen-4 .title p{
	font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.6);
}

.foldscreen-4 .menu .contend-list {
	line-height: 30px;
}
.foldscreen-4 .menu .contend-list .sub-menu {
	text-align: center;
}
.foldscreen-4 .menu .contend-list .sub-menu > a {
	width: 100%;
	color: black;
	line-height: 40px;
	font-weight: bold;
	display: block;
	background: #dae5f2;
	border-bottom: 1px solid #e4ebf3;
}
.foldscreen-4 .menu .contend-list .sub-menu > a:hover {
	background: ##dae5f2;
	display: block;
	/*position: relative;*/
}
.foldscreen-4 .menu .contend-list .sub-menu .children{
	background: #e4ebf3;
}
.foldscreen-4 .menu .contend-list .sub-menu .children li a {
	color: #2b3438;
	font-size: 14px;
}
.foldscreen-4 .menu .contend-list .sub-menu > a:hover + ul {
	/*height: auto;*/
	display: block;
}
.foldscreen-4 .menu .contend-list .sub-menu .children {
	/*height: 0;*/
	display: none;
	overflow: hidden;
	transition: 3s;
}
.foldscreen-4 .menu .contend-list .sub-menu .children li {
	display: flex;
	justify-content: center;

}
/*.foldscreen-4 .menu .contend-list .sub-menu > a:hover::before {
	content: "";
	width: 100px;
	height: 2px;
	display: block;
	background: red;
	position: absolute;
	bottom: 4px;
	left: calc(50% - 50px);
}*/
.foldscreen-4 .contact{
	padding: 20px 20px 15px 20px;
}
.foldscreen-4 .contact h1{
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 8px;
}
.foldscreen-4 .contact p{
	font-size: 14px;
	padding-right: 80px;
}
.foldscreen-4 .button_become{
	padding-left: 20px;
	display: flex;
	justify-content: flex-start;
	padding-bottom: 30px
}
.foldscreen-4 .button_become a{
	color: white;
  background: #f39c0f;
  padding: 10px;
	border-radius: 18px;
	font-size: 14px;
}
.foldscreen-4 .menu .contend-list
@media screen and (min-width: 768px){

}
@media screen and (min-width: 960px){

}
