* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	height: 100%;
}
body{
	font-family: sans-serif;
	height: 100%;
}
a {
	text-decoration: none;
}

/*html, body {
	height: 100%;
	max-height: 100%;
	overflow: auto;
}
.portal, .foldscreen-2, .foldscreen-3, .foldscreen-4, .foldscreen-5{
	height: 100%;
	overflow: hidden;
}*/
