.portal{
	position: relative;
	height: 100%;
}
.portal .content{
    display: flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
}
.portal .background{
	height: 100%;
	width: 100%;
	position: relative;
	font-size: 0;
}
.portal .background .fondo{
	height: 100%;
}
.portal .background .destock{
	display: none;
}
.portal .background .cap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.portal .subcontent{
	position: absolute;
	top:0px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.portal .menu{
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 55px;
}
.portal .logo{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.portal .logo img{
	width: 30px;
	align-self: flex-end;
	margin-right: 10px;
}
.portal .logo span{
	color: white;
	font-size: 24px;
}
.portal .access{
	display: none;
}
.portal .content-description{
	width: 100%;
}
.portal .description{
	width: 100%;
	color: white;
	text-align: center;
	padding: 0 30px;
	box-sizing: border-box;
}
.portal .description h1{
	font-size: 23px;
	line-height: 28px;
	margin-bottom: 30px;
}
.portal .description p{
	font-size: 16px;
	line-height: 26px;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 50px;
	padding: 0 5px;

}
.portal .description .buttons{
	display: flex;
	flex-direction: column;
}
.portal .description .buttons a{
	align-self: center;
	font-size: 15px;
	font-weight: bold;
	border-radius: 17px;
	color: white;
	text-decoration: none;
}
.portal .description .buttons .start{
	border: 2px solid #9aa5af;
	margin-bottom: 10px;
	width: 160px;
	padding: 10px;
}
.portal .description .buttons .browse{
	border: 2px solid #9aa5af;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 160px;
	padding: 10px;
}
.portal .description .buttons .start:hover{
	background: #14c752;
	border: 1px solid #14c752;
}
.portal .description .buttons .browse:hover{
	background: #14c752;
	border: 1px solid #14c752;
}
.portal .description .buttons .browse span{
	margin-right: 5px;
}
.portal .description .buttons .browse img{
	width: 12px;
	align-self: center;
}
.portal .arrow-bottom{
	width: 100%;
	display: flex;
	justify-content: center;
}
@media screen and (min-width: 480px){
	.portal .content-description{
		display: flex;
		justify-content: center;
	}
	.portal .description{
		width: 400px;
	}
@media screen and (min-width: 768px){
	.portal .logo img {
		width: 30px;
		align-self: center;
	}
	.portal .logo span {
		font-size: 20px;
 }
	 .portal .subcontent {
	 padding: 0px 20px 0px 20px;
	}
	 .portal .menu{
		padding-top: 0px;
 		display: flex;
 		justify-content: space-between;
 	}
	 .portal .access{
 		display: flex;
 		justify-content: space-between;
 	}
	.portal .access a {
    color: white;
    border-radius: 19px;
    font-size: 16px;
    margin-right: 10px;
    align-self: center;
    text-align: center;
    padding: 10px;
    width: 80px;
    background: rgba(255, 255, 255, 0.2);
}
	.portal .access a:hover{
		background: #3096d4;
	}
	.portal .description{
		width: 750px;
	}
	.portal .description h1{
		margin-bottom: 12px;
	}
	.portal .description p{
		font-size: 17px;
		line-height: 26px;
		color: rgba(255, 255, 255, 0.8);
	}
	.portal .description .buttons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 55px;
	}
	.portal .description .buttons a{
		font-size: 18px;
		border-radius: 25px;
	}
	.portal .description .buttons .browse img {
    width: 18px;
  }
	.portal .description .buttons .start{
		width: 190px;
		margin-bottom: 0px;
		margin-right: 20px;
	}
	.portal .description .buttons .browse{
		width: 190px;
		margin-bottom: 0px;
	}
}
@media screen and (min-width: 960px){
	.portal .description{
		width: 950px;
	}
	.portal .description .buttons {
		margin-bottom: 85px;
	}
}
@media screen and (min-width: 1024px){
	.portal .background .fondo {
	   width: 100%
   }
}
